@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
*{ font-family: "IM Fell English", system-ui;
    font-weight: 400;
    font-style: normal;
}

.note {
    font-style: italic;
}